.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 5px;
  /* padding: 10px 0; */
  /* background-color: azure; */
}

.crumb {
  background: none;
  border: none;
  color: #616161;
  cursor: pointer;
  padding: 5px;
  border: 1px solid #8494c5;
}

.crumb:hover {
  text-decoration: underline;
}

.separator {
  color: #999;
}