.fileList {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

.listHeader {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 2fr 1fr;
  padding: 12px 15px;
  background: #424e74;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  font-weight: 500;
  color: #e6dcff;
}

@media (max-width: 768px) {
  .listHeader {
    font-size: 0.75rem;
  }
}

@media (max-width: 640px) {
  .listHeader {
    display: none;
  }
}

